.DS_Store
node_modules
/dist

# firestore firebase directories and files
firebaseconfig.js
.firebaserc 
firebase.json
firebase-debug.log
firestore.rules
firestore.indexes.json
/.firebase

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
